<form method="post" action="{{ path('app_remerciements_delete', {'id': remerciement.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce remerciement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ remerciement.id) }}">
    <button class="btn">Supprimer</button>
</form>
